.movie-item {
  margin: 1em 0;
  width: 300px;
  height: auto;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: all 250ms ease-in;
}

.movie-item:hover {
  transition: all 250ms ease-in;
  filter: saturate(1.5);
  cursor: pointer;
}

.movie-item img {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  min-height: 450px;
  user-select: none;
}

.movie-item__content-title {
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.movie-item__content-title h3 {
  margin: 0.5em 0;
  font-size: 1em;
}

.movie-item__content-description {
  padding: 0.5em 0;
}
